<div class="bg-gray-200">
  <div class="container position-sticky z-index-sticky top-0">
      <div class="row">
        <div class="col-12">
          <!-- Navbar -->
          
          <!-- End Navbar -->
        </div>
      </div>
    </div>
    <main class="main-content  mt-0">
      <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container my-auto">
          <div class="row">
            <div class="col-lg-4 col-md-8 col-12 mx-auto">
              <div class="card z-index-0 fadeIn3 fadeInBottom">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                    <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Giriş Yap</h4>
                    <div class="row mt-3">
                      <div class="col-2 text-center ms-auto"></div>
                      <div class="col-2 text-center px-1">
                          
                      </div>
                      <div class="col-2 text-center me-auto"></div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <form role="form" class="text-start" [formGroup]="loginForm">

                    <div class="input-group input-group-outline my-3" (click)="clickEv1($event)"
                    [ngClass]="status1 ? 'is-focused' : 'danger'">
                      <label class="form-label">Email</label>
                      <input type="email" class="form-control" matInput formControlName="email" required>
                    </div>
                    <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                          <label *ngIf="loginForm.controls.email.errors.required" style="display:block;color:red;text-align: right;">Bu alan zorunlu</label>
                          <label *ngIf="loginForm.controls.email.errors.pattern" style="display:block;color:red;text-align: right;">Bu alan doğrulanamadı</label>
                    </mat-error>

                    <div class="input-group input-group-outline mb-3" (click)="clickEv2($event)"
                    [ngClass]="status2 ? 'is-focused' : 'danger'">
                      <label class="form-label">Password</label>
                      <input type="password" class="form-control" matInput formControlName="password" required
                       [type]="hide ? 'password' : 'text'" >
<!-- <button type="button" mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                     </button>-->
                    </div>
                    
                    <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                      <label *ngIf="loginForm.controls.password.errors.required" style="display:block;color:red;text-align: right;">Bu alan zorunlu</label>
                </mat-error>
                    

                    <div class="text-center">
                      <button type="button" class="btn bg-gradient-primary w-100 my-4 mb-2"
                      (click)="handleSubmit()" [disabled]="!(loginForm.valid && loginForm.dirty)"
                      >Giriş</button>
                    </div>
                    <p class="mt-4 text-sm text-center">
                      
                      <a routerLink="/forgotPassword" class="text-primary text-gradient font-weight-bold">Şifremi unuttum</a>
                    </p>
                    <p class="mt-4 text-sm text-center">
                      Hesabınız yok mu?
                      <a routerLink="/signup" class="text-primary text-gradient font-weight-bold">| Kaydol</a>
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer position-absolute bottom-2 py-2 w-100">
         
        </footer>
      </div>
    </main>
</div>
